# --- Web Application (Flask) ---
Flask
joblib

# --- Data Manipulation & Math ---
pandas
numpy

# --- Machine Learning Models ---
scikit-learn
lightgbm
xgboost

# --- Data Preprocessing (SMOTE) ---
imbalanced-learn

# --- Visualization (For Notebook) ---
seaborn
matplotlib

